@import "/assets/scss/abstracts/variables";


@mixin shadow {
  box-shadow: 0 5px 7px $color-shadow;
}

@mixin text-card {
  padding: 0.6em 0.8em;
  margin-bottom: 1em;
  border-radius: $card-radius;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)){
    @content;
  }
}
@mixin tablet-landscape {
  @media screen and (min-width: map-get($breakpoints, tablet-landscape)){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)){
    @content;
  }
}
