@import "/assets/scss/abstracts/variables";


@mixin shadow {
  box-shadow: 0 5px 7px $color-shadow;
}

@mixin text-card {
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}