@import "./main.scss";

h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1em;
  flex-basis: 100%;
}

/* SECTION PART */

#geolocalisation {
  background-color: #eaeaea;
  text-align: center;
  color: #444444;
  padding: 1em 0;
  box-shadow: inset -2px 2px 6px rgba($color: #363636, $alpha: 0.2);
  i {
    margin-right: 1em;
  }
}

/* HIGHLIGHTS */

#highlights {
  background-color: $color-light-bg;
  .container{
    padding: 2.5em 1.5em 4em;
    height: 285px;
    text-align: center;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 1.5em;
    }

    p {
      font-weight: 300;
    }

    a {
      color: #fff;
      font-weight: 500;
    }
  }
}

/* TUTORIAL */

#tutorial {
  justify-content: space-between;
  ol {
    counter-reset: steps;
    width: 100%;
    @include tablet-landscape{
      flex-direction: row;
      justify-content: space-between;
    }
  }
  li {
    counter-increment: steps;
    @include shadow;
    @include text-card;
    font-weight: bold;
    position: relative;
    left: 0.8em;
    margin-right: 1em;
    background-color: $color-light-bg;
    align-items: center;
    flex: 0 0 75px;
    &:hover{
      background-color: rgba($color: $color-primary, $alpha: 0.2);
      i{
        color: $color-primary;      
      }   
    }
    i {
      color: #7e7e7e;
      text-align: center;
      margin: 0 1em;
      font-size: 1.2em;
      flex-basis: 1.3em;
    }
    @include tablet-landscape{
      height: 75px;
      flex-basis: 31%;
    }
  }
  
  li:before {
    content: counter(steps);
    position: absolute;
    left: -0.8em;
    background-color: #9356dc;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    width: 1.5em;
    line-height: 1.5em;
  }
}

/* RESTAURANTS */

#restaurants {
  background-color: $color-light-bg;
  .container{
    @include desktop{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    }    
  }
  article {
    border-radius: $card-radius;
    @include shadow;
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 250px;
    @include desktop{
      height: 250px;
      flex: 0 0 49%;
      flex-wrap: wrap;
    }
    a {
      height: 100%;
      width: 100%;
      figure {
        width: 100%;
        height: 175px;
        position: relative;
        img {
          border-radius: $card-radius $card-radius 0 0;
          object-fit: cover;
          object-position: 50% 60%;
          height: 100%;
          width: 100%;
        }
        span {
          background-color: #99e2d0;
          color: #008766;
          padding: 0.5em 1em;
          border-radius: 0.1em;
          position: absolute;
          right: 12px;
          top: 13px;
          @include shadow;
        }
      }
      div {
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex: 0 0 75px;
        flex-wrap: wrap;
        h3 {
          flex-basis: 70%;
          margin-bottom: 0.3em;
        }
        i {
          text-align: right;
          flex-basis: 30%;          
        }
        p {
          font-weight: 300;
          flex-basis: 70%;
        }
      }
    }
  }
}
