@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./components/buttons";

/* BODY */

section {
  padding: 2em 1em;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5em;
  margin-right: 3em;
  justify-content: space-between;
}

h2{
  text-transform: uppercase;
  font-weight: 300;
  content: '';
  border-bottom: 3px solid $color-tertiary;
  transform: scaleX(0.2);
  transform-origin: left 50%;
}

/* SECTION PART */
.hero-image{
  height: 275px;
  width: 100%;
  margin-bottom: -30px;
  position: relative;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#menu{
  background-color: $color-light-bg;
  border-radius: 2em 2em 0 0; 
}

/* HEADER */
header>a:first-child{
 color: rgb(70, 70, 70);
 margin-right: auto;
}
header>a:last-child{
  margin-right: auto;
}