@import "./main.scss";

/* BODY */

h1 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 1.5em;
  justify-content: space-between;
  align-items: center;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  &:after {
    content: "";
    width: 2.5em;
    margin: 0.5em 0 1em;
    display: block;
    top: 10px;
    height: 3px;
    background-color: $color-tertiary;
  }
}

/* SECTION PART */
.hero-image {
  height: 275px;
  width: 100%;
  position: relative;
  @include desktop {
    height: 450px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 65%;
    @include desktop {
      object-position: 50% 70%;
    }
  }
}

.gradient-overlay {
  position: relative;
  &::after {
    visibility: hidden;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgb(255, 255, 255));
    @include tablet-landscape {
      visibility: visible;
    }
  }
}

#menu {
  background-color: $color-light-bg;
  border-radius: 2em 2em 0 0;
  position: relative;
  margin-top: -55px;
  padding: 2em 1em 3em;
  justify-content: space-between;
  @include tablet {
    padding: 2em 4em 3em;
  }
  @include tablet-landscape {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    @include shadow;
  }
  @include desktop {
    margin-top: -200px;
  }
  section {
    margin-bottom: 1.5em;
    opacity: 0;
    animation: appearance 800ms ease-in-out 0ms forwards;
    article {
      position: relative;
      @include shadow;
      @include text-card;
      background-color: #fff;
      height: 70px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      opacity: 0;
      animation: appearance 800ms ease-in-out 0ms forwards;
      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 250ms;
        }
      }
      &:hover{
        div{
          flex-basis: calc(70% - 5rem);
        }
        .price{
          transform: translateX(-$fav-translate);
        }
        .fav{
          transform: translateX(0rem);
          i{
            transform: rotate(0deg);
          }
        }
      }
      div {
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        transition: $fav-timing ease-in-out;
        h3 {
          line-height: 1.4em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-basis: 100%;
        }
        p{
          line-height: 1.4em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 300;
          flex-basis: 100%;
        }
      }
      .price{
        position: relative;
        display: block;
        transform: translateX(0rem);
        transition: $fav-timing ease-in-out;
        strong {
        position: absolute;
        top: 4px;
        right: 10px;
        color: #505050;
        align-self: flex-end;
        height: 100%;
        flex-basis: 3em;
        }
      }
      .fav {
        position: absolute;
        top: 0px;
        right: -1px;
        height: 100%;
        background-color: $color-tertiary;
        border-radius: 0 $card-radius $card-radius 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 5rem;
        transform: translateX($fav-translate);
        transition: $fav-timing ease-in-out;
        i{
          transform: rotate(-720deg);
          color: #fff;
          font-size: map-get($font-size, i-size);
          transition: $fav-timing ease-in-out;
        }
      }
    }
  }
  .button {
    align-self: center;
  }
}

/* HEADER */
header > a:first-child {
  color: rgb(70, 70, 70);
  margin-right: auto;
}
header > a:last-child {
  margin-right: auto;
}

/* FOOTER */
.container {
  @include tablet-landscape {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
  }
}
