@import "/assets/scss/abstracts/variables";
@import "/assets/scss/abstracts/mixins";

.button {
  font-weight: 500;
  border-radius: 3em;
  position: relative;
  z-index: 1;
  border: none;
  background: linear-gradient(175deg, $color-secondary, $color-primary);
  color: #fff;
  padding: 1em 1.5em;
  text-align: center;
  @include shadow;
  min-width: 11em;
  display: flex;
  justify-content: center;
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    border-radius: 3em;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(175deg, lighten($color-secondary, 5), lighten($color-primary, 5));
    box-shadow: 0 5px 7px darken($color-shadow, 5);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms ease-in-out;
  }
  &:visited {
    color: #fff;
  }
}

.heart {
  fill: transparent;
  stroke: rgb(82, 82, 82);
  stroke-width: 30;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    overflow: visible;
    width: 1.8rem;
  }
  path {
    transform-origin: center;
  }
  &--main {
    z-index: 1;
  }
  &--bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    stroke: none;
  }

  &--main:hover path {
    animation: heartbeat 0.5s linear forwards;
  }

  &--main:hover ~ .heart--bg path {
    animation: heartfade 0.5s linear forwards;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    stroke: url(#Gradient);
    opacity: 0;
  }
  20% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(1.2);
  }
  50%,
  60% {
    transform: scale(1);
    fill: url(#Gradient);
    opacity: 0.3;
  }
  65% {
    transform: scale(0.5);
  }
  95% {
    transform: scale(1.4);
  }
  100% {
    stroke: url(#Gradient);
    transform: scale(1);
    fill: url(#Gradient);
    opacity: 1;
  }
}

@keyframes heartfade {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#Gradient);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    fill: url(#Gradient);
    transform: scale(2.5);
    opacity: 0;
  }
}
