@import "/assets/scss/abstracts/variables";
@import "/assets/scss/abstracts/mixins";

.button {
    font-weight: 500;
    border-radius: 3em;
    border: none;
    background: linear-gradient(175deg,$color-secondary,$color-primary);
    color: #fff;
    padding: 1em 1.5em;
    text-align: center;
    @include shadow;
    min-width: 11em;
    display: flex;
    justify-content: center;
}

.heart{  
    font-size: 1.5rem;
    position: relative;
    .far.fa-heart{
      position:relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      opacity: 1;
      &:hover{
        .fas.fa-heart{
          opacity: 1;
        }
      }
    }
    .fas.fa-heart{
        position:absolute;
        top: 0;
        right: 15;
        bottom: 0;
        left: 0;
        background: linear-gradient(30deg, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        z-index: -1;
        transition: opacity 80ms;
      }
  }