footer {
  color: #fff;
  background-color: #353535;
  padding: 2em 1em;
  flex-direction: column;
  img{
      width: 7em;
      margin-bottom: 1em;
  }
  ul {
    list-style-type: none;
    li {
      line-height: 1.5em;
      a i {
        margin-right: 1em;
        width: 1em;
      }
    }
  }
}

.filter-white{
    filter: invert(99%) sepia(1%) saturate(88%) hue-rotate(124deg) brightness(117%) contrast(100%);
}
